@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


html, body{
  margin: 0;
  padding: 0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: #333333;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2{
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
dd, dl, figure, p {
    padding: 0;
    margin: 0 0 1.45rem;
}


.header-payouts-page{
  display: flex;
  flex-direction: column;
  -webkit-box-align:center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0px 2rem ;
}

.c-header-000{
  padding: 15px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0rem;
  text-align: center;
}

.c-header-description{
  color: rgb(102, 102, 102);
  max-width: 55ch;
  text-align: center;
  align-self: center;
  font-size: 20px;
  margin-top: 1rem;
}






/*Leadership board - start*/
.wrapper {
  max-width: 500px;
  align-self: center;
  padding: 20px;
  margin: auto;
}


.wrapper .wrapper__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3558db;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__header .b_caption p {
  color: #dae0fb;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
}
.wrapper .wrapper__content {
  background: #fff;
  padding: 10px;
}
.wrapper .wrapper__content ul {
  list-style: none;
  overflow:hidden;
  overflow-y:scroll;
  height: 400px;
}
.wrapper .wrapper__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:left;
  align-items: center;
}

.wrapper .wrapper__content ul li:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .wrapper__content ul li .graphic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 5px;
}
.wrapper .wrapper__content ul li .graphic img {
  width: 100%;
  border-radius: 50%;
}
.wrapper .wrapper__content ul li .name {
  margin: 10px;
  vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 180px;
  vertical-align: middle;
  font-size: 20px;
}
.wrapper .wrapper__content ul li .stat {
  color: #333333;
  font-weight: 400;
  font-size: 17px;
  text-align: right;
}
.wrapper .wrapper__content ul li .name span.sub {
  color: #35d8ac;
  font-weight: 700;
  font-size: 10px;
  vertical-align:sub;
}
/*Leadership board - end*/



.section-003{
  background-color: #fff;
  border-radius: 10px;
  min-height: 600px;
}

.why-title{
  text-align: center;
}

.why-c-vity, p{
  font-size: 20px;
}

.why-c-vity{
  position: relative;
  margin: 20px 10px 40px 20px;
  font-size: 30px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.why-c-vity > div {
  overflow: hidden;
}
.why-c-vity > div > p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  margin: 0;
  line-height: 117%;
  padding-top: 25px;
}


div.why-c-vity > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.why-c-vity > div:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

div.why-c-vity > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.why-c-vity > div:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}
div.why-c-vity > div:nth-child(4) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.slide-up {
  -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

.collapse{
 display: block; 
}

.sect--violet{
  background-color:#6f79ff;
}

.sect--padding-bottom{
  padding-bottom:115px;
}



/*menu nav*/
.nav{
  padding: 30px 25px;
  position:absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.main{
  background-color: #fff;
  padding: 16px;
  margin-top: 70px;
}
.nav__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav__menu {
  float: right;
}
.nav__el{
  padding: 0 25px;
  display: inline-block;
}
.nav__img{
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;

}

.nav__logo, .nav__menu{
  display: inline-block;
  vertical-align: middle;
}
.nav__title{
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.nav__light{
  color: #8198ae;
}
.nav__link{
  color: #1f4568;
  font-size: 14px;

}
.nav__link:hover{
  text-decoration: none;
  color:#3a9fff;
}
.navbar-toggle .icon-bar{
  background-color: #8198ae;
}
.navbar-toggle {
    margin: 5px 0;
}



.btn--white {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ededed;
    color: #8198ae;
}

.button-payouts-signup{
  background-color: #3a9fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  
  padding: 15px 25px;
  margin: 20px;
}


.btn {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: 0px 18px 13px -6px rgb(0 0 0 / 20%);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}




.footer{
  background-color: #1f4467; 
  padding: 40px 0px;
  position:fixed;
  bottom:0;
  width: 100%;
}

.footer__title{
  font-size: 20px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color:white;
  white-space: nowrap;
}

.footer__light{
  color:#fff;
}

.footer__social {
  float: right;
  
}

.footer__social-l {
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  
}

.footer__social-l img {
  height: 25px;
  width: 25px;
}

@media screen and (max-width:1024px){
  .collapse{
 display: none;
}
.navbar-toggle {
  margin: 0;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.nav__container{
  width: 100%;
  padding: 0;
  }
.nav__menu {
  width: 100%;
}
.nav{
  background-color:#fff; 
  padding: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
.nav__logo{
  padding: 12px 20px 12px 20px;
}
.nav__el {
  display: block;
  padding: 10px 20px;
  border-top: 1px solid #000000;
}
  
.nav .btn--white, .nav .btn--white:hover{
  padding: 0;
  border: 0;
  box-shadow: none;
  color:#fff;
  background-color:transparent;
}
.nav__el--blue{
  background-color:#3a9fff;
}

}


@media screen and (max-width:991px){

 
}

@media screen and (max-width:767px){

  .footer {
    padding: 25px 0;
  }

  .footer__title{
    font-size: 14px;
  }
}



@media screen and (max-width:480px){
  
  .footer {
    word-break: break-all;
    min-height: 30px;
    padding: 5px 0;
  }

  .footer__social-l{
    width: 10px;
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
  }

  .footer__title {
    font-size: 9px;
    margin-left: 1px;
    font-weight: bold;
  }
  
/*Leadership board - start*/
.wrapper {
  max-width: 500px;
  align-self: center;
  padding: 20px;
  margin: auto;
}


.wrapper .wrapper__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3558db;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__header .b_caption p {
  color: #dae0fb;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
}
.wrapper .wrapper__content {
  background: #fff;
  padding: 10px;
}
.wrapper .wrapper__content ul {
  list-style: none;
  overflow:hidden;
  overflow-y:scroll;
  height: 400px;
}
.wrapper .wrapper__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .wrapper__content ul li:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .wrapper__content ul li .graphic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 5px;
}
.wrapper .wrapper__content ul li .graphic img {
  width: 100%;
  border-radius: 50%;
}

.wrapper .wrapper__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 70px;
  vertical-align: middle;
  font-size: 14px;
}

.wrapper .wrapper__content ul li .name {
  margin: 0px;
  vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.stat {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}
.wrapper .wrapper__content ul li .name span.sub {
  color: #35d8ac;
  font-weight: 700;
  font-size: 10px;
  vertical-align:sub;
}
/*Leadership board - end*/

/*header - start*/

.c-header-000{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0rem;
  text-align: center;
}

.c-header-description{
  color: rgb(102, 102, 102);
  max-width: 55ch;
  text-align: center;
  align-self: center;
  font-size: 14px;
  margin-top: 1rem;
}

/*header - end*/

/*Description of payouts - start*/

.why-c-vity, p{
  font-size: 14px;
}
/*Description of payouts - end*/

/*sign up button for payouts - start*/
.button-payouts-signup{
  background-color: #3a9fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  padding: 10px 14px;
  margin: 20px;
}
/*sign up button for payouts - end*/
}




@media screen and (max-width:330px){
  
  .footer {
    word-break: break-all;
    min-height: 30px;
    padding: 5px 0;
  }

  .footer__social-l{
    width: 10px;
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
  }

  .footer__title {
    font-size: 9px;
    margin-left: 1px;
    font-weight: bold;
  }
  
/*Leadership board - start*/
.wrapper {
  max-width: 500px;
  align-self: center;
  padding: 20px;
  margin: auto;
}


.wrapper .wrapper__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3558db;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrapper__header .b_caption p {
  color: #dae0fb;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
}
.wrapper .wrapper__content {
  background: #fff;
  padding: 10px;
}
.wrapper .wrapper__content ul {
  list-style: none;
  overflow:hidden;
  overflow-y:scroll;
  height: 400px;
}
.wrapper .wrapper__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .wrapper__content ul li:not(:last-child) {
  margin-bottom: 5px;
}
.wrapper .wrapper__content ul li .graphic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 1px;
}
.wrapper .wrapper__content ul li .graphic img {
  width: 100%;
  border-radius: 30%;
}

.wrapper .wrapper__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 30px;
  vertical-align: middle;
  font-size: 12px;
}

.wrapper .wrapper__content ul li .name {
  margin: 0px;
  vertical-align: middle;
}
.wrapper .wrapper__content ul li .stat {
  color: #333333;
  font-weight: 400;
  font-size: 10px;
}
.wrapper .wrapper__content ul li .name span.sub {
  color: #35d8ac;
  font-weight: 700;
  font-size: 10px;
  vertical-align:sub;
}
/*Leadership board - end*/

/*header - start*/

.c-header-000{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0rem;
  text-align: center;
}

.c-header-description{
  color: rgb(102, 102, 102);
  max-width: 55ch;
  text-align: center;
  align-self: center;
  font-size: 14px;
  margin-top: 1rem;
}

/*header - end*/

/*Description of payouts - start*/

.why-c-vity, p{
  font-size: 14px;
}
/*Description of payouts - end*/

/*sign up button for payouts - start*/
.button-payouts-signup{
  background-color: #3a9fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  padding: 10px 14px;
  margin: 20px;
}
/*sign up button for payouts - end*/
}