@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');



html, body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #e8eaf0;
}



/*Team - start*/
p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}



.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #e8eaf0;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}


/*Team - End*/

.header__btext{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Ubuntu,sans-serif;font-size: 14px;
}
.header__btext:hover{
  text-decoration: none;
  color:#fff;
}

.button-payouts-signup{
  padding: 0 25px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  border-radius: 35px;
  padding: 10px 10px;
  margin: 15px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color:#016cec; -webkit-box-shadow: 0 0 3px #016cec; }
  50% { background-color: #016cec; -webkit-box-shadow: 0 0 40px #016cec; }
  100% { background-color: #016cec; -webkit-box-shadow: 0 0 3px #016cec; }
}

body{
 
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.sect{
  padding: 90px 0;
  position: relative;
}





/*stats - start*/





.collapse{
 display: block; 
}

.sect--violet{
  background-color:#6f79ff;
}

.sect--padding-bottom{
  padding-bottom:115px;
}

.sect--padding-top{
  padding-top:90px;
}

.row--center{
  max-width: 1000px;
  margin: 0 auto;
}
.row--margin{
  margin-top:45px;
}

.row__title{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 0px;
}

.row__sub{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0px; 
  color: #8198ae;
}




.site{
  text-align: center;
}
.site__title{
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.site__subtitle{
    font-size: 20px;
    color: #f36615e3;
    margin: 15px 0 40px 0;
    text-align: center;
}

.site__img{
  margin-top: 50px;
  display: inline-block;
  width: 77%;
}
.site__box-link .btn--revert{
  margin-left: 15px;
}


/*menu header*/
.header{
  padding: 30px 25px;
  position:absolute;
  top: 0;
  width: 100%;
  background-color: #e8eaf0;
}
.main{
  padding: 16px;
  margin-top: 70px;
}
.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__menu {
  float: right;
}
.header__el{
  padding: 0 25px;
  display: inline-block;
}


.header__img{
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;

}

.header__logo, .header__menu{
  display: inline-block;
  vertical-align: middle;
}
.header__title{
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light{
  color: #8198ae;
}
.header__link{
  color: #1f4568;
  font-size: 18px;
  font-weight: 500;
  font-family: Ubuntu,sans-serif;

}
.header__link:hover{
  text-decoration: none;
  color:#3a9fff;
}
.navbar-toggle .icon-bar{
  background-color: #8198ae;
}
.navbar-toggle {
    margin: 5px 0;
}


.sect--no-padding{
  padding-top:0;
}

.career_title {
  color: #fff;
  font-size: 28px;
}

.career_sub {
  font-size: 22px;
  color: #c7cbff;
  margin-top: 0;
  margin-bottom: 30px;
}



.footer{
  background-color: #1f4467; 
  padding: 40px 0;
}

.footer__title{
  font-size: 20px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color:white;
  white-space: nowrap;
}

.footer__light{
  color:#fff;
}

.footer__social {
  float: right;
  
}

.footer__social-l {
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  
}

.footer__social-l img {
  height: 25px;
  width: 25px;
}


.btn{
  background-color:#3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);
  transition: all 0.4s;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
}



.btn:hover{
box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
background-color: #63b2fc;
color: #fff;
}

.price-box__wrap:hover .btn {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
}

.btn--revert{
    background-color:transparent;
    color: #8198ae;
    box-shadow: none;
    border:1px solid #c9d9e9;
}

.btn--revert:hover{
    background-color:transparent;
    color: #1f4568;
    box-shadow: none;
    border:1px solid #8198ae;
}


.btn--purple {
    background-color: #8a3aff;
}

.btn--purple:hover{
    background-color: #b284f6;
}

.btn--violet {
    background-color: #6f79ff;
}
.btn--violet:hover {
    background-color: #878ef3;
}

.btn--blue {
    background-color: #3a9fff;
}
.btn--blue:hover {
    background-color: #63b2fc;
}
/*payment button - start*/
.button{
  width: 120px;
  margin: 10px 10px 10px 20px;
}



/*payment button - end*/


.btn--width{
  width: 120px;
}


.btn--white{
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover{
  background-color: #fff;
  color: #8198ae;
  
}
.btn--width{
  width: 120px;
}


.btn--white{
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover{
  background-color: #fff;
  color: #8198ae;
  
}

.price-box__btn {
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -55px;
}
@media screen and (max-width:1024px){
  .collapse{
 display: none;
}
.navbar-toggle {
  margin: 0;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.header__container{
  width: 100%;
  padding: 0;
  }
.header__menu {
  width: 100%;
}
.header{
  background-color:#fff; 
  padding: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
.header__logo{
  padding: 12px 20px 12px 20px;
}
.header__el {
  display: block;
  padding: 10px 20px;
  border-top: 1px solid #000000;
}
  
.header .btn--white, .header .btn--white:hover{
  padding: 0;
  border: 0;
  box-shadow: none;
  color:#fff;
  background-color:transparent;
}
.header__el--blue{
  background-color:#3a9fff;
}

}


@media screen and (max-width:991px){

  .site__subtitle {
    font-size: 14px;
    margin: 10px 0 20px 0;
  }
  
  .carousel-control.left{
    left: -25px;
  }
  .carousel-control.right {
    right: -25px;
}
  .item__content {
    height: auto;
}
}

@media screen and (max-width:767px){

   .site__subtitle {
    font-size: 14px;
    margin: 10px 0 20px 0;
  }

  .footer {
    padding: 25px 0;
  }

  .footer__title{
    font-size: 14px;
  }
}


@media screen and (max-width:480px){

  .header__btext{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Ubuntu,sans-serif;font-size: 14px;
  }
  .header__btext:hover{
  text-decoration: none;
  color:#fff;
  }

 .button-payouts-signup{
  padding: 0 25px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  border-radius: 35px;
  padding: 10px 10px;
  margin: 15px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color:#016cec; -webkit-box-shadow: 0 0 3px #016cec; }
  50% { background-color: #016cec; -webkit-box-shadow: 0 0 40px #016cec; }
  100% { background-color: #016cec; -webkit-box-shadow: 0 0 3px #016cec; }
}


  .footer {
    word-break: break-all;
    min-height: 30px;
    padding: 5px 0;
  }

  .footer__social-l{
    width: 10px;
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
  }

  .footer__title {
    font-size: 9px;
    margin-left: 1px;
    font-weight: bold;
  }


  .sect {
    padding: 20px 0;
  }
  .sect--padding-top{
    padding-top: 80px;
  }
  .row__sub {
    font-size: 16px;
   }
  .row__title {
    font-size: 20px;
    margin-bottom: 5px;
   }


  .site__title {
    font-size: 24px;
}
  .site__subtitle {
    font-size: 14px;
    margin: 10px 0 20px 0;
  }
  .site__img {
    margin-top: 30px;
  }
  .row--margin {
    margin-top: 30px;
}
  .btn {
    font-size: 12px;
    padding: 8px 8px;
}
  .btn--width {
    width: 100px;
}
  .career_title {
    font-size: 18px;
    margin-top: 0;
}
  .career_sub {
    font-size: 14px;
    margin-bottom: 20px;
}
  .carousel-indicators {
    display: none;
}


}